.git
#.env
.DS_Store
#airflow_settings.yaml
#astro
.venv
#airflow-webserver.pid
#webserver_config.py
#airflow.cfg
#airflow.db
output_data
dags_test
input_data

# Python
__pycache__/
*.pyc
*.pyo

# Airflow
logs/
*.log

# Dados
*.csv
*.parquet
*.zip

# Spark / outputs
outputs/
tmp/
*.tgz
spark-*

xl.meta