.git
#.env
.DS_Store
#airflow_settings.yaml
#astro
.venv
#airflow-webserver.pid
#webserver_config.py
#airflow.cfg
#airflow.db
output_data
dags_test
input_data

# Python
__pycache__/
*.pyc
*.pyo

# Airflow
logs/
*.log

# Dados
*.csv
*.parquet
#*.zip

# Spark / outputs
outputs/
tmp/
.tgz
#spark-*

# minio
*.meta
minio_data/.minio.sys/
minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
minio_data/.minio.sys/buckets/.usage.json/xl.meta
minio_data/.minio.sys/buckets/bronze/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/bronze/.usage-cache.bin.bkp/xl.meta
minio_data/.minio.sys/buckets/gold/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/gold/.usage-cache.bin.bkp/xl.meta
minio_data/.minio.sys/buckets/silver/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/silver/.usage-cache.bin.bkp/xl.meta